@use "../base/typography" as t;
@use "../base/colors" as c;

.book {
  padding: 8rem 6.4rem;
  background-color: c.$Neutral-900;
  border-radius: 1rem;
  color: c.$Neutral-200;

  display: grid;
  grid-template-columns: 54rem auto;
  gap: 2.4rem;

  &__heading {
    @include t.text-2;
  }

  &__text {
    grid-row: 2/3;
  }

  &__btn {
    grid-row: 1/3;
    display: flex;
    margin: auto 0 auto auto;
  }
}
