$Neutral-900: #030303;
$Neutral-400: #6a6662;
$Neutral-200: #fff7f0;
$Neutral-0: #ffffff;

$Light-Red-500: #e16b5b;
$Galactic-Blue-500: #755cde;
$Summer-Yellow-500: #f6a560;
$Pink-500: #f39e9e;
$Cyan-500: #61c4b7;
$Dark-Purple-500: #552049;
